html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Roboto;
    
  }
  
    *, *:before, *:after {
        box-sizing: inherit;
    }
    
    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
    
    ol, ul {
        list-style: none;
    }
    
    img {
    max-width: 100%;
    height: auto;
  }

  /* HEADER */

  header {
    width: 1920px;
    background-color: #EEEFF1;
    margin: 0 auto;
  }
  .header__container {
    width: 1920px;
  }
  .logo-menu {
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
  }
  .header__logo h1 {
    font-family: Revalia;
    margin-top: -20px;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
  }
  nav a {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
  }
  nav a:hover{
    color: #34547A;
  }
  .header__description {
    padding-bottom: 146px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__description img {
    margin-right: 200px;
  }
  .header__description h1 {
    padding-bottom: 60px;
    font-size: 48px;
    font-weight: 500;
    line-height: 79px;
  }
  .header__description p {
    width: 540px;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
  }
  .header__description button {
    width: 225px;
    height: 65px;
    font-size: 16px;
    background-color: #34547A;
    text-transform: uppercase;
    color: #fff;
    border: 0;
  }
  .header__description button:hover {
    cursor: pointer;
  }

  /* SECTION  */

  .about-me {
    margin: 0 auto;
    padding-top: 119px;
    padding-bottom: 100px;
    width: 1920px;
    text-align: center;
  }
  
  .about-me h2 {
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
  }

  .about-me p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 540px;
    margin: 0 auto;
    color: #727272;
  }

  /* SECTION PPROJECT LIST */

  .project-list-wrapper {
    margin: 0 auto;
    width: 1920px;
    background-color: #34547A;
    color: #fff;
  }

  .project-list {
    display: flex;
    justify-content: center;
    padding: 100px 0;
  }
  .project-list__desc {
    display: flex;
  }
  .project-list__desc div {
    margin-left: 25px;
    margin-right: 50px;
  }

  /* SKILLS SECTION */

  .skills-wrapper {
    margin: 0 auto;
    padding-top: 102px;
    padding-bottom: 101px;
    width: 1920px;
    background-color: #E5E5E5;
    
  }
  .skills {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .skills li {
    margin-bottom: 30px;
    margin-right: 150px;
  }
  .skills li p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
  }
  .skills .status-bar{
    width: 445px;
    height: 4px;
    background-color: #C4C4C4;
  }
  .skills .status-bar div {
    width: 350px;
    height: 4px;
    background-color: #34547A;
  }

  /* HOW WORK SECTION */

  .howwork-wrapper {
    width: 1920px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #EEEFF1;
  }
  .howwork {
    text-align: center;
  }
  .howwork h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .howwork p {
    margin: 0 auto;
    width: 540px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
  }
  .howwork__video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 57px auto 0 auto;
    width: 1110px;
    height: 600px;
    background: url(./images/video.png);
  }
  .howwork__video button {
    width: 105px;
    height: 105px;
    background: url(./images/video-play.png) rgba(28, 28, 28, 0) no-repeat;
    border: none;
  }

  /* PROJECT */

  .projects-wrapper {
    width: 1920px;
    margin: 0 auto;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
  .projects a{
    margin-bottom: -4px;
  }

  /* Microsoft BANNERS */
  
  .microsoft-wrapper {
    width: 1920px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 100px;
  }

  .banner-list {
    display: flex;
    justify-content: center;
  }
  .banner-list li {
    margin-right: 30px;
  }

  /* FORM */
  .form-wrapper {
    width: 1920px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #EEEFF1;
  }
  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 540px;
  }
  .form-content h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
  }
  .form-content p {
    margin-top: 50px;
    text-align: center;
    text-indent: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  } 
  .form-content form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
  }
  .form-content form input[type=text] {
    width: 255px;
    margin-right: 30px;
    height: 35px;
    padding-left: 20px;
    border: 0;
    background-color: #fff;
  }
  .form-content form input[type=email] {
    width: 255px;
    height: 35px;
    padding-left: 20px;
    border: 0;
    background-color: #fff;
  }
  .form-content form textarea {
    width: 540px;
    margin-top: 20px;
    padding: 15px 20px;
    border: 0;
    background-color: #fff;
  }
  .form-content form input[type=submit] {
    margin: 50px auto;
    width: 190px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.15em;
    background-color: #34547A;
    text-transform: uppercase;
    color: #fff;
    border: 0;
  }
/* FOOTER SECTION */
.footer-wrapper {
  width: 1920px;
  margin: 0 auto;
  color: #fff;
  background-color: #34547A;
}
.footer-content {
  width: 1125px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.social-icons {
  display: flex;
}
.social-icons li {
  margin-top: 20px;
  margin-right: 20px;
}
.footer-p1 {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}
.footer-p2 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}